  input {
	padding: 5px;
	margin-right: 5px;
  }
  
  button {
	padding: 7px 7px 7px 7px;
    border-radius: 5px;
	background:rgb(98, 154, 186);
	color: white;
	border: none;
	cursor: pointer;
  }
  
  button:hover {
	background:rgb(146, 178, 197);
  }

  button:checked{
	background:rgb(146, 178, 197);
  }